
.SelectOrigin-Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.empty-div{
    width: 100vw;
    height: 70vh;
    background: transparent;
    filter: blur(8px);
}

.box-selectOrigin{
    width: 90vw;
    min-height: 40vh;
    background-color: #080c25;
    position: relative;
}
.header-sOrigin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
}

.OriginCity{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 36px;
}

.OriginCity label{
    font-family: Inter-Medium , sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 6px;
}


.origin-input{
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 40px;
    margin-bottom: 6px;
}

.input-bottom-txt{
    font-family: Inter-Medium ,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #98A2B3;
}

option{
    border-radius: 20px;
}