.final-container {
    width: 100vw;
    height: 100vh;
    background-color: #080c25;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.final-header {
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.fly-box {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shareLink-box {
    margin: 0 5vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(90deg, #7f56d9 0%, #9e77ed 100%);
    border-radius: 16px;
    align-items: center;
    padding: 32px;
}
.share-title{
    font-family: Inter-Medium , sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 8px 0;
    color: #ffffff;
}
.share-desc{
    margin-bottom: 24px;
    color: #ffffff;
    font-weight: 400;
}
.share-btn{
    background-color: #5502A8;
    width: 113px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: none;
    font-weight: 500;
}
.share{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}
@media (max-height : 720px) {
    .shareLink-box {
        margin: 0 5vw;
        height: 32vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(90deg, #7f56d9 0%, #9e77ed 100%);
        border-radius: 16px;
        align-items: center;
        padding: 24px;
        position: relative;
    }
    .share-title{
        font-family: Inter-Medium , sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        color: #ffffff;
    }
    .share-btn{
        background-color: #5502A8;
        width: 113px;
        height: 44px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        border: none;
        font-weight: 500;
        position: absolute;
        bottom: 8px;
    }
    .fly-box {
        margin: 8px 0;
    }
}