.SelectOrigin-Container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.empty-div {
  width: 100vw;
  height: 60vh;
  background-color: transparent;
  filter: blur(100%);
}

.box-selectOrigin {
  width: 100vw;
  height: 40vh;
  max-height: max-content;
  background-color: #080c25;
  position: relative;
  padding-top: 16px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.selectOriginDivs {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.header-sOrigin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}

.OriginCity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 36px;
}

.OriginCity label {
  font-family: Inter-Medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 6px;
}

.origin-input {
  width: calc(90vw - 16px);
  border-radius: 8px;
  border: none;
  height: 40px;
  margin-bottom: 6px;
  padding: 0 0 0 16px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.input-bottom-txt {
  font-family: Inter-Medium, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #98a2b3;
}

.origin-list-box {
  width: 90vw;
  height: max-content;
  max-height: 24vh;
  background-color: #ffffff;
  display: none;
  overflow-y: scroll;
  border-radius: 8px;
  margin-bottom: 16px;
}
.OriginsItem {
  width: 90vw;
  padding: 8px;
  display: flex;
  align-items: center;
}
.Continue-btn {
  position: absolute;
  bottom: 0;
  width: 90vw;
}
.Continue-btn:disabled {
  opacity: 50%;
  background-color: #eddbff;
  color: #98a2b3;
}
